#portfolio {
	max-height: 580px;
	height: 580px;
	background-color: $white;
	hr.styled {
		margin-top: 0;
	}
	.hover-all,
	#backward,
	#forward {
		display: none;
	}
	#swipe-indicator {
		display: none;
		transition-duration: 3s;
		-webkit-transition-duration: 3s;
	}
	.portfolio-container {
		max-height: 580px;
		overflow: hidden;
		height: 580px;
		padding-top: 115px;
		.mask {
			width: 1800%;
			display: inline-block;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
	}
	&.tiny-mobile {
		max-height: 600px;
		height: 600px;
		background-color: $white;

		#swipe-indicator {			
			width: 100%;
			margin-top: 30%;
			position: absolute;
			z-index: 2;
			float: left;
			transition-duration: 3s;
			-webkit-transition-duration: 3s;
			background: $black;
			color: $white;
			padding-top: 50px;
			padding-bottom: 50px;
			&.rubberBand {
				opacity: .9;
				display: block;
				&.display-none {
					display: none;
				}
			}
			.icon-left-open {
				width: 20%;
				float: left;
				padding-left: 10px;
				font-size: 4rem;
			}
			.message {
				width: 60%;
				float: left;
				text-align: center;
				height: 60px;
				line-height: 60px;
				font-size: 1.5rem;
			}
			.icon-right-open {
				width: 20%;
				float: right;
				padding-right: 10px;
				font-size: 4rem;
			}
		}
		.portfolio-container {
			max-height: 600px;
			height: 600px;
			overflow: hidden;
			padding-top: 40px;
			.mask {
				-webkit-transition: all 0.2s;
				transition: all 0.2s;
				.item {
					float: left;
					width: 100%;
					margin: 0;
					padding: 0;
					.item-container {
						.first-row, .second-row {
							width: 100%;
							text-align: center;
							float: none;
							.showcase {
								width: 90%;
								margin: 0 auto;
								height: auto;
								max-height: 250px;
								overflow: hidden;
								img {
									width: 150%;
								}
							}
						}
						.about {
							.company {
								span {
									font-size: 2.5rem;
									font-weight: 900;
								}
							}
							.position, .date, .description {
								text-align: left;
								font-weight: 900;
								line-height: 20px;
								margin: 0;
								margin-bottom: 10px;
							}
							.tools {
								span {
									background: $black;
									color: $white;
									border-radius: 5px;
									margin-right: 5px;
									padding: 2px 8px;
									font-weight: 100;
								}
							}
							.tools {
								display: none;
							}
							.link {
								margin-top: 20px;
								background-color: $black;
								padding: 10px 30px;
								color: $white;
								text-align: center;
								width: 60%;
								margin: 0 auto;
								-webkit-transition: all 0.2s;
								transition: all 0.2s;
								a {
									text-decoration: none;
									text-transform: none;
									color:$white;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 350px) {
	#portfolio {
		.portfolio-container {
			.item {
				.item-container {
					.about { 
						.link {
							font-size: .8rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 40em) {
	#portfolio {
		.hover-all {
			background-color: #000;
			opacity: .8;
			height: 582px;
			padding-top: 267px;
			cursor: pointer;
			margin-top: -590px;
			z-index: 2;
			position: relative;
			display: block;
			.action-portfolio {
				border: solid 3px $white;
				padding: 10px 20px;
				color: $white;
				width: 200px;
				margin: 0 auto;
				text-align: center;
				font-weight: 900;
				opacity: .5;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
			&:hover {
				.action-portfolio {
					opacity: 1;
					-webkit-transition: all 0.3s;
					transition: all 0.3s;
				}
			}
			&.hidden {
				opacity: 0;
				-webkit-transition: all 600ms;
				transition: all 600ms;
			}
		}
		.portfolio-container {
			&.mobile {
				.mask {
					-webkit-transition: all 0.2s;
					transition: all 0.2s;
					.item {
						.item-container {

							.about {
								.company {
									font-size: 3rem;
								}
							}
						}
					}
				}
			}
			.mask {
				-webkit-transition: all 0.2s;
				transition: all 0.2s;
				.item {
					float: left;
					margin:0;
					padding: 0;
					width: 100%;
					&:nth-child(odd) {
						.first-row {
							float: left;
						}
						.second-row {
							float: right;
						}
					}
					&:nth-child(even) {
						.first-row {
							float: right;
						}
						.second-row {
							float: left;
						}
					}
					.item-container {
						max-width: 100%;
						> div {
							margin: 0;
							padding: 0;
						}
						.showcase {
							width: 100%;
							img {
								width: 100%;
							}
						}
						.about {
							width: 100%;
							color: $black;
							padding-left: 20px;
							font-weight: 900;
							margin-top: -30px;
							.company {
								font-size: 4.5rem;
								margin: 0;
								padding: 0;
								text-align: center;
							}
							.tools {
								span {
									background: $black;
									color: $white;
									border-radius: 5px;
									margin-right: 5px;
									padding: 2px 4px;
									font-weight: 100;
									display: inline-block;
									margin-top: 3px;
									font-size: .7rem;
									letter-spacing: 2px;
									font-weight: 500;
								}
							}
							.link {
								background-color: $black;
								padding: 10px 30px;
								color: $white;
								text-align: center;
								width: 60%;
								margin: 0 auto;
								-webkit-transition: all 0.2s;
								transition: all 0.2s;
								a {
									text-decoration: none;
									text-transform: none;
									color:$white;
								}
								&:hover {
									box-shadow: inset 0 0 0 1px #000, inset 0 72px #fff, 0 3px #000;
									-webkit-transform: translate(0, -3px);
									transform: translate(0, -3px);
									-webkit-transition: all 0.2s;
									transition: all 0.2s;
									a {
										color: $black;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 64em){
	#portfolio {
		background-color: $white;
		#backward {
			width: 50px;
			font-size: 7rem;
			padding: 0;
			margin: 0;
			position: relative;
			margin-top: 235px;
			float: left;
			opacity: .6;
			cursor: pointer;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			display: block;
			z-index: 3;
			&.hidden {
				opacity: 0;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
			&:hover {
				opacity: 1;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
		}
		#forward {
			width: 50px;
			font-size: 7rem;
			padding: 0;
			margin: 0;
			position: relative;
			top: -345px;
			float: right;
			opacity: .6;
			left: -115px;
			cursor: pointer;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			display: block;
			z-index: 3;
			&.hidden {
				opacity: 0;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
			&:hover {
				opacity: 1;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
		}
		.portfolio-container {
			.mask {
				-webkit-transition: all 0.2s;
				transition: all 0.2s;
				.item {
					float: left;
					margin:0;
					padding: 0;
					width: 100%;
					&:nth-child(odd) {
						.first-row {
							float: left;
						}
						.second-row {
							float: right;
						}
					}
					&:nth-child(even) {
						.first-row {
							float: right;
						}
						.second-row {
							float: left;
						}
					}
					.item-container {
						max-width: 100%;
						// overflow: hidden;
						> div {
							margin: 0;
							padding: 0;
						}
						.showcase {
							width: 100%;
							img {
								width: 100%;
							}
						}
						.about {
							width: 100%;
							color: $black;
							padding-left: 20px;
							font-weight: 900;
							margin-top: -30px;
							.company {
								font-size: 4.5rem;
								margin: 0;
								padding: 0;
								text-align: center;
							}
							.tools {
								span {
									font-weight: 500;
								}
							}
							.link {
								background-color: $black;
								padding: 10px 30px;
								color: $white;
								text-align: center;
								width: 60%;
								margin: 0 auto;
								-webkit-transition: all 0.2s;
								transition: all 0.2s;
								a {
									text-decoration: none;
									text-transform: none;
									color:$white;
								}
								&:hover {
									box-shadow: inset 0 0 0 1px #000, inset 0 72px #fff, 0 3px #000;
									-webkit-transform: translate(0, -3px);
									transform: translate(0, -3px);
									-webkit-transition: all 0.2s;
									transition: all 0.2s;
									a {
										color: $black;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}