#presentation {
	background-color: transparent;
	height: 100%;
	width: 100%;
	transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
	font-family: 'Poiret One', cursive;
	&.out {
		// opacity: .3;	
		transition: all 100ms ease;
		-webkit-transition: all 100ms ease;
	}
	.presentation-container {
		padding-bottom: 10%;
		transition: all 200ms ease;
		-webkit-transition: all 200ms ease;
		.content {
			transition: all 150ms ease;
			-webkit-transition: all 150ms ease;
			position: relative;
			display: inline-block;
			width: 100%;
			.title-container {
				font-family: "SWP", serif;
				// padding-top: 25%;
				text-align: center;
				color: $white;
				position: relative !important;
				width: 95%;
				* {
					margin: 0;
					padding: 0;
				}
				h1 {
					/*font-family: "SWPL", serif;*/
					// font-family: 'Poiret One', cursive;
					font-family: 'Passion One', cursive;
					font-size: 3rem;
					line-height: 3rem;
					letter-spacing: 11px;
					font-weight: 100;
					-webkit-animation-delay: 600ms;
					animation-delay: 600ms;
					animation-duration: 2s;
					-webkit-animation-duration: 2s;
				}
				h2 {
					font-size: 2rem;
					line-height: 2rem;
					letter-spacing: 0px;
					// font-family: "SWPB", serif;
					font-family: 'Poiret One', cursive;
					font-weight: 900;
					margin-top: 10px;
					-webkit-animation-delay: 400ms;
					animation-delay: 400ms;
					transition: all 1s ease;
					-webkit-transition: all 1s ease;
					opacity: 0;
				}
				h3 {
					font-size: 2.5rem;
			    line-height: 2.5rem;
			    letter-spacing: 7px;
					font-family: "Poiret One", serif;
					font-weight: 900;
					-webkit-animation-delay: 400ms;
					animation-delay: 400ms;
					span {
						font-family: "Poiret One", serif;;
						font-weight: 100;
					}
				}
				h4 {
					font-family: "Poiret One", serif;
					-webkit-animation-delay: 400ms;
					animation-delay: 400ms;
					font-size: 2.5rem;
			    line-height: 2.5rem;
			    letter-spacing: 15px;
		      border-bottom: solid 8px #000;
  				padding-bottom: 33px;
				}
			}
		}
		&.out {
			opacity: .7;
			-webkit-transform: scale(0.72);
			transform: scale(0.72);
			transition: all 200ms ease;
			-webkit-transition: all 200ms ease;
		}
	}
}
@media screen and (min-width: 370px) {
	#presentation {
		.presentation-container {
			overflow: hidden;
			.content {
				height: 80%;
				.title-container {
					h1 {
						font-size: 3rem;
						line-height: 3rem;
						letter-spacing: 11px;
					}
					h2 {
						font-size: 2rem;
						line-height: 2rem;
						letter-spacing: 0px;
						margin-top: 10px;
					}
					h3 {
						font-size: 2.0rem;
						line-height: 2.5rem;
						letter-spacing: 7px;
					}
					h4 {
						font-size: 2.0rem;
						line-height: 2.5rem;
						letter-spacing: 12px;
						padding-bottom: 40px;
						border: 0;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 40em) {
	#presentation {
		height: 720px;
		.presentation-container {
			.content {
				.title-container {
					h1 {
						// font-size: 11rem;
						// line-height: 11rem;
						// letter-spacing: 10px;
						// font-weight: 100;
						font-family: 'Passion One', cursive;
						font-size: 5rem;
						line-height: 6rem;
						letter-spacing: 0px;
					}
					h2 {
						// font-size: 7rem;
						// line-height: 11rem;
						// letter-spacing: 10px;
						font-size: 3.5rem;
						line-height: 5rem;
						letter-spacing: 0px;
						margin-top: 0px;
						transition: all 1s ease;
						-webkit-transition: all 1s ease;
						opacity: 1;
					}
					h3 {
						font-size: 4rem;
						line-height: 4rem;
						letter-spacing: 14px;
					} 
					h4 {
						font-size: 4rem;
						line-height: 4rem;
						letter-spacing: 25px;
						display: inline-block
					}
					h2,h3 {
						display: block;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 64em){
	#presentation {
		.presentation-container {
			.content {
				.title-container {
					h1 {
						font-size: 8.7rem;
						line-height: 6rem;
						letter-spacing: 0px;
					}
					h2 {
						font-size: 5.5rem;
						line-height: 5rem;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1400px) {
	#presentation {
		.presentation-container {
			.content {
				.title-container {
					h1 {
						font-size: 8.7rem;
						line-height: 6rem;
						letter-spacing: 0px;
					}
					h2 {
						font-size: 5.5rem;
						line-height: 5rem;
					}
				}
			}
		}
	}
}

