#tools {
	background-color: $white;
	height: auto;
	hr {
		&.styled {
			margin-top: 0;
		}
	}
	h1 {
		font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		font-size: 3rem;
		text-align: center;
		color: $black;
		margin: 0;
	}
	.tools-container {
		display: inline-block;
		background: $white;
		
		figure {
			&.tool {
				position: relative;
				float: left;
				overflow: hidden;
				margin: 0;
				background: $white;
				text-align: center;
				margin-bottom: 30px;
				margin-top: 30px;
				-webkit-transition: all 0.3s;
				transition: all .3s;
				max-height: 180px;

				&.grayscale {
					-webkit-transition: all 0.3s;
					transition: all .3s;
				}
				img {
					position: relative;
					display: block;
					height: auto;
					max-width: 90%;
					opacity: 1;
				}
			}
		}
	}
}
@media screen and (max-width: 350px) {
	#tools {
		.tools-container {
			.tool {
				max-height: 120px;
			}
		}
	}
}

@media screen and (min-width: 470px) {
	#tools {
		h1 {
			&.title {
				font-size: 5rem;
			}
		}
		.tools-container {
			.tool {
				max-height: 140px;
			}
		}
	}
}

@media screen and (min-width: 40em) {
	#tools {
		.tools-container {
			.tool {
				max-height: 180px;
			}
		}
	}
}

@media screen and (min-width: 64em){
	#tools {
		.tools-container {
			.tool {
				max-height: 190px;
			}
		}
	}
}