<div class="aboutme-icon">
	<div class="icon-wrapper animated fadeIn">
		<img src="images/ma-logo.png" alt="Roberto Barron">
	</div>
</div>
<div class="row">
	<div class="aboutme-container small-12 medium-12 large-12 small-centered medium-centered large-centered column">
		<h1>About me</h1>
		<div class="aboutme-desc">
			I have worked as a developer since 2004 in several different business including start-ups, government agencies, marketing, research, companies that give back and lately financial companies at a local and international level in México and the United States. This has given me the experience to provide the organizations with whom I collaborate with the right technological advice. <br><br>
			I am currently working as Tech Lead of GBMhomebroker, the biggest online stock broker in Mexico, with GBM and a team of professional developers aiming to build the next generation of financial services in Latin America.
		</div>
		<!-- <div class="themes-container small-12 medium-12 large-12 column">
			<div class="theme large-4 medium-4 column" data-type="development">
				<div class="theme-container">
					<div class="image-theme animated">
						<div class="text icon-globe"></div>
						<div class="text icon-apple"></div>
						<div class="text icon-android"></div>
						<div class="clear"></div>
					</div>
					<h3>Development</h3>
					<div class="desc">Web, iOS or Android. See my portfolio to know more.</div>
					<div class="link">
						<div class="icon-right-open"></div>
					</div>
				</div>
			</div>
			<div class="theme large-4 medium-4 column"  data-type="skills">
				<div class="theme-container">
					<div class="image-theme animated">
						<div class="text icon-tasks"></div>
					</div>
					<h3>Skills</h3>
					<div class="desc">Check the complete list of skills and expertises.</div>
					<div class="link">
						<div class="icon-right-open"></div>
					</div>
				</div>
			</div>
			<div class="theme large-4 medium-4 column" data-type="resume">
				<div class="theme-container">
					<div class="image-theme animated">
						<div class="text icon-newspaper"></div>
					</div>
					<h3>Resume</h3>
					<div class="desc">Take a look at my resume.</div>
					<div class="link">
						<div class="icon-right-open"></div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>