<div class="map-container">
	<div id="map"></div>
</div>
<div class="mah-face">
	<img src="images/photo.png" alt="Roberto Barron">
</div>
<div class="row email-text">
	<h3>Hit me up at:</h3>
	<h1>me@robertobarron.mx</h1>
</div>
<div class="footer">
	<div class="footer-container row">
		<div class="logo large-2 medium-3 small-4 column">
			<div class="logo-container"><img src="images/rb_lg.png"></div>
		</div>
		<div class="copyright large-10 medium-9 small-8 column">
			&copy; Roberto Barron
		</div>
	</div>
</div>