<div class="map-container">
	<div id="map"></div>
</div>
<div class="mah-face">
	<img src="images/photo.png" alt="Roberto Barron">
</div>
<div class="row email-text">
	<h2>Hit me up at:</h2>
	<div class="email-show">mr.robertbarron<span>@gmail.com</span></div>
</div>
<!-- <div class="row">
	<div class="social_networks animated large-12 medium-12 small-12 column fadeInLeft">
		<div class="link">
			<a href="https://github.com/robertbarron" target="_blank">
				<div class="ico ico icon-github"></div>
			</a>
		</div>
		<div class="link">
			<a href="http://ca.linkedin.com/in/robertobarron" target="_blank">
				<div class="ico icon-linkedin"></div>
			</a>
		</div>
		<div class="link">
			<a href="https://plus.google.com/114880443360773248373" target="_blank">
				<div class="ico icon-gplus"></div>
			</a>
		</div>
		<div class="link">
			<a href="http://www.twitter.com/roberto_barron" target="_blank">
				<div class="ico icon-twitter"></div>
			</a>
		</div>
		<div class="link">
			<a href="http://www.facebook.com/barronroberto" target="_blank">
				<div class="ico icon-facebook"></div>
			</a>
		</div>
	</div>
</div>
<div class="row container">
	<div class='large-12 medium-12 small-12 column'>
	<div class="ico-desc">
		<div class="icon-mail-alt"></div>
	</div>
		<input type='text' name='mails' id='mails' class="inputText black" placeholder="Email"/>
	</div>
	<div class='large-7 medium-7 small-12 column'>
		<input type='text' name='name' id='name' class="inputText black" placeholder="Name"/>
	</div>
	<div class='large-5 medium-5 small-12 column'>
		<div class="ico-desc">
			<div class="icon-phone"></div>
		</div>
		<input type='text' name='phone' id='phone' class="inputText black" placeholder="Phone"/>
	</div>
	<div class='large-12 medium-12 small-12 medium-centered large-centered column'>
		<div class="ico-desc">
			<div class="icon-comment"></div>
		</div>
		<textarea class="textAboutYou black" id='aboutit' placeholder="Message"></textarea>
	</div>
	<div class='large-12 medium-12 small-12 medium-centered large-centered column'>
	  <div class="button_container animated fadeInRight">
	  	<button id="sendit" class="sendIt" name="sendIt">SEND</button>
	  </div>
	</div>
	<div class='large-12 medium-12 small-12 column'>
		<div class="resume"></div>
	</div>
	<div class='large-12 medium-12 small-12 column'>
		<div id="error_message"></div>
	</div>
</div> -->
<div class="footer">
	<div class="footer-container row">
		<div class="logo large-2 medium-3 small-4 column">
			<div class="logo-container"><img src="images/rb_lg.png"></div>
		</div>
		<div class="copyright large-10 medium-9 small-8 column">
			&copy; 2003-2016 Roberto Barron
		</div>
	</div>
</div>