<div class="item row animated fadeInUp" data-company="{{company}}">
	<div class="item-container">
		<div class="column large-6 medium-6 small-12 first-row">
			<div class="showcase">
				<img src="{{image_url}}">
			</div>
		</div>
		<div class="column large-6 medium-6 small-12 second-row">
			<div class="about">
				<p class="company"><span>{{company}}</span></p>
				<p class="position">Position: <span>{{position}}</span></p>
				<p class="date">Date: <span>{{when}}</span></p>
				<p class="tools">Tools: {{tools}}</p>
				<p class="description">{{description}}</p>
				<p class="link">
					<a href="{{link}}" target="_blank">TAKE A LOOK</a>
				</p>
			</div>
		</div>
	</div>
</div>