<hr class="styled">
<h1 class="title">Skills</h1>
<div class="skills-container row">
	<div class="percentage-item">
		<div class="c100 orange" data-type="1" data-percentage="99">
			<span>99%</span>
			<div class="slice">
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
		</div>
		<div class="desc">JAVASCRIPT</div>
	</div>

	<div class="percentage-item">
		<div class="c100 orange" data-type="2" data-percentage="99">
			<span>99%</span>
			<div class="slice">
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
		</div>
			<div class="desc">CSS</div>
	</div>
	
	<div class="percentage-item">
		<div class="c100 orange" data-type="3" data-percentage="99">
			<span>99%</span>
			<div class="slice">
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
		</div>
			<div class="desc">HTML</div>
	</div>

	<div class="percentage-item">
		<div class="c100 orange" data-type="4" data-percentage="75">
			<span>75%</span>
			<div class="slice">
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
		</div>
		<div class="desc">SWIFT</div>
	</div>
	
	<div class="percentage-item">
		<div class="c100 orange" data-type="5" data-percentage="60">
			<span>60%</span>
			<div class="slice">
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
		</div>
		<div class="desc">ANDROID</div>
	</div>
</div>
<div class="diagram-container row">
	<div class="legends column large-12">
		<h1>Expertise</h1>
		<div class="skills">
			<ul>
				<li class="bar-item" data-type="0"  data-years="2">
					<div class="fullstack text-bar">DevOps</div>
					<div class="progress-bar">
						<div class="fill-bar"></div>
					</div>
				</li>
				<li class="bar-item" data-type="1"  data-years="10">
					<div class="fullstack text-bar">Full Stack</div>
					<div class="progress-bar">
						<div class="fill-bar">50%</div>
					</div>
				</li>
				<li class="bar-item" data-type="2" data-years="12.5">
					<div class="front text-bar">Front End</div>
					<div class="progress-bar">
						<div class="fill-bar"></div>
					</div>
				</li>
				<li class="bar-item" data-type="3" data-years="10">
						<div class="back text-bar">Back End</div>
						<div class="progress-bar">
							<div class="fill-bar"></div>
					</div>
				</li>
				<li class="bar-item" data-type="4" data-years="2.5">
						<div class="ios text-bar">iOS</div>
						<div class="progress-bar">
							<div class="fill-bar"></div>
						</div>
				</li>
				<li class="bar-item" data-type="5" data-years="4">
					<div class="android text-bar">Android</div>
					<div class="progress-bar">
						<div class="fill-bar"></div>
					</div>
				</li>
			</ul>
		</div>	
	</div>
</div>