
.icon-globe:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e807'; } /* '' */
.icon-gplus:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-apple:before { content: '\e80b'; } /* '' */
.icon-android:before { content: '\e80c'; } /* '' */
.icon-tasks:before { content: '\e80d'; } /* '' */
.icon-newspaper:before { content: '\e80e'; } /* '' */
.icon-comment:before { content: '\e80f'; } /* '' */